
    <form [formGroup]="tagModel" *ngIf="tagTypes" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-select placeholder="图片分类" formControlName="type" (change)="resetForm($event)" [value]="tagData['type']">
          <mat-option *ngFor="let tagType of tagTypes.ImgType" [value]="tagType.type">
            {{ tagType.type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div formGroupName="detail">
        <div *ngFor="let detail of details">
          <mat-form-field *ngIf="detailType[detail]['prop'] === 'text'">
            <input  type="text" matInput [placeholder]="detail" [formControlName]="detail" >
          </mat-form-field>
          <mat-radio-group *ngIf="detailType[detail]['prop'] === 'radio'" [formControlName]="detail" >
            <mat-radio-button class="padding30" *ngFor="let item of detailType[detail]['values']" [value]="item">
              {{item}}
            </mat-radio-button>
          </mat-radio-group>
          <mat-form-field *ngIf="detailType[detail]['prop'] === 'multi'">
            <mat-select [placeholder]="detail" multiple="true" [formControlName]="detail">
              <mat-option *ngFor="let item of detailType[detail]['values']" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>


      <button mat-raised-button color="primary" type="submit">确定</button>
    </form>
