.imgupcontainer{
  width: 600px;
  border: 1px solid red;
  .controll{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .up-button{
      flex: 0 0 80px;
      font-family: "微软雅黑";
      color: white;
      height: 86px;
      margin: 5px 0;
      background: #97ca1f;
      line-height: 86px;
      text-align: center;
      border-radius: 10%;
      &:hover{
        position: relative;
        left: 5px;
        cursor: pointer;
      }

    }
  }

}
