/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/dark.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
a {
  text-decoration: none;

}
.customClass {
  margin:5px;
  width: 500px;
}

.customClass .img-ul-upload {
  background-color: #4b67e6 !important;
}

.customClass .img-ul-clear {
  background-color: #b4ddf0 !important;
}

.customClass .img-ul-drag-box-msg {
  color: #b4ddf0 !important;
}


